* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Blinker', sans-serif;
}

.container {
  min-width: 320px;
  background-color: #111d4a;
  max-width: 750px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 200px;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  padding: 2em;
}

main h1 {
  color: #05cbe9;
  font-size: 1.75rem;
  font-weight: 700;
  padding-bottom: 1em;
}

main > p {
  font-family: 'PT Sans', sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  padding-bottom: 5em;
}

.details {
  display: flex;
  justify-content: space-between;
}

.details p {
  font-size: 1.1875rem;
  font-weight: 400;
  flex-basis: 1em;
  color: hsla(0, 0%, 100%, 0.51);
}

.details p span {
  font-size: 1.75rem;
  font-weight: 700;
}

.details button {
  background-color: hsl(188, 96%, 47%);
  color: hsl(227, 63%, 18%);
  border: none;
  padding: 0.625em 2em;
  font-weight: 700;
  font-size: 1.25rem;
  align-self: center;
}

@media (min-width: 550px) {
  .container {
    display: flex;
  }

  header {
    height: auto;
    width: 300px;
  }

  main h1 {
    font-size: 2.25rem;
  }

  main > p {
    font-size: 1.125rem;
  }
}
