* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 2em;
}

nav {
  text-align: center;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 20px 50px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 10px;
  height: 100vh;
}

main .left {
  float: left;
  width: 80%;
  margin-bottom: 20px;
}

main .left section {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

main .left section h2 {
  margin: 10px 0 5px;
}

main .left section ul {
  padding-left: 20px;
  list-style-type: circle;
}

main .left section ul li a {
  text-decoration: none;
  color: black;
}

main .left article {
  margin-top: 30px;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

main .left article h2 {
  margin: 10px 0;
}

main .left article figure {
  width: 100%;
  margin: 15px 0;
}

main .left article figure img {
  width: 100%;
}

main .left article figure figcaption {
  text-align: right;
  color: gray;
  font-style: italic;
}

main .left article .read-more {
  margin: 5px 0;
  text-align: right;
}

main .left article .read-more button {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

main .left article .read-more button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

main .right {
  height: inherit;
  width: 15%;
  float: right;
  display: block;
  margin-left: 15px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

main .right ul {
  list-style-type: none;
  margin-top: 10px;
}

main .right li {
  padding: 2px;
}

main .right li a {
  text-decoration: none;
  color: black;
}

main .right li a:hover {
  text-decoration: underline;
}

footer {
  clear: both;
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
