/* start css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* end css reset */

body {
  font-family: "Source Sans Pro", sans-serif;
  background: hsla(0, 0%, 93%, 1);
}

article,
header {
  background: hsla(0, 0%, 100%, 1);
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.head {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsla(0, 0%, 100%, 1);
  margin-bottom: 1px;
}

.head .logo {
  width: 130px;
}

.head .user {
  width: 35px;
  border-radius: 50%;
}

.post-user {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.post-user .post-user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-user .post-user-details h2 {
  font-weight: 700;
  font-size: 1.1rem;
}

.post-user .post-user-details p {
  font-size: 1rem;
}

.post-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
}

.post-details-reactions {
  display: flex;
  gap: 10px;
}

.post-details-reactions img {
  width: 24px;
}

.post-details-reactions img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.post-details-likes {
  font-weight: 700;
}

.post-details-comments-user-name {
  font-weight: 700;
}
